* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
button{ position:absolute; top:50%; left:50%;
    width:120px; height:30px; margin-top:-15px; margin-left:-60px;
    line-height:15px; cursor:pointer;
  }
  
  .modal{ 
    box-sizing: bordor-box;
    position:absolute; 
    width:100%; 
    height:100%; 
    background: #111111;
  }
  .modal_content{
    width:400px; height:200px;
    background:#111111; border-radius:10px;
    position:relative; top:50%; left:50%;
    margin-top:-100px; margin-left:-200px;
    text-align:center;
    box-sizing:border-box; padding:74px 0;
    line-height:23px; cursor:pointer;
  }
  .home{
    background-color: #111111;
    width: 200px; 
    height:50px;
    background-image: url(./img/MONOTT\ logo.png);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    display: flex;
    float: left;
    margin: 20px 300px 0px;
    cursor:pointer;
    
  }
  .cancel{
    background-color: #cc0000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin:auto;
    margin-top: 20px;
    cursor:pointer;
  }
  .menu1{
    background-color: #111111;
    display: flex;
    justify-content: space-around;
  }
  .menu2{
    background-color: #111111;
    display: flex;
    justify-content: space-around;
    
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #111111;
}
li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #111111;
    color: white;
    font-size: 25px;
}
li a:hover:not(.active) {
    background-color: #111111;
    color: white;
}

