.modalbtn{ 
    line-height:15px; cursor:pointer;
    background-color: #cc0000;
  }
  
  .modal{ 
    display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #111111;
	z-index: 100;
  }
  .layer-popup.show {
    display: block;
  }
  .top{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
  }
  .home{
    background-color: #111111;
    float: left;
  }
  .logo_home{
    width: 250px;
  }
  .cancel{
    background-color: #cc0000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    margin-top: 20px;
    cursor:pointer;
    justify-content: center;
    font-size: large;
  }
  .menu1{
    background-color: #111111;
    display: flex;
    margin: auto;
    width: 800px;
  }
  .menu2{
    background-color: #111111;
    display: flex;
    margin: auto;
    width: 800px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #111111;
}
li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #111111;
    color: white;
    font-size: 25px;
}
li a:hover:not(.active) {
    background-color: #111111;
    color: white;
    
    
  }

